*{
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a, p, h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #00448e; 
}

a {
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

h1 {
    font-size: 16vw;
    font-weight: 900;
    line-height: 0.9;
    margin: 5px 0;
}

h2 {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 700;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}

h4 {
    margin: 8px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1;
    color: white;
}

h5 {
    margin: 0;
    line-height: 1.1;
}

p {
    font-size: 20px;
    margin: 5px 0;
}

hr {
    border-bottom: 1px solid #00448e;
    width: 100%;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-space {
    width: 100%;
    height: 70px;
}

.content {
    width: 100%;
    padding: 70px 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media(min-width:768px) {
    
    a:hover {
        color: red;
    }
    
    h1 {
        font-size: 6vw;
        margin: 20px 0;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
    
    p {
        text-align: center;
        max-width: 900px;
    }
    
    .content {
        padding: 80px 10%;
        align-items: center;
        overflow: hidden;
    }
}


/* ------------------------ Navbar ------------------------*/

.nav {
    position: fixed;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 6%;
}

.nav-logo {
    width: 80px;
    position: relative;
    z-index: 4;
}

#menu-btn {
    position: absolute;
    z-index: 4;
    cursor: pointer;
    position: relative;
    font-weight: 400;
}

.menu {
    position: absolute;
    top: 80px;
    left: 0;
    height: 0px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: height 0.5s;
}

.menu.open {
    height: calc(100vh - 80px);
}

.menu-expander {
    padding: 10%;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu a {
    font-size: 70px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.4s;
    margin: 4% 0%;
}

.menu.open a {
    opacity: 1;
}


@media(min-width:768px){
    
   #menu-btn {
        display: none;
    }
    
    .menu {
        position: relative;
        top: 0;
        width: auto;
        height: 100%;
        padding: 0;
        flex-direction: row;
        align-items: center;
    }
    
    .menu.open {
        height: 100%;
    }
    
    .menu-expander {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    
    .menu a {
        opacity: 1;
        font-size: 16px;
        padding-left: 30px;
    }

    
}

/*----------------------- Hero section ----------------------- */

.swiper-container {
    width: 100%;
}

.swiper1 {
    margin-top: 80px;
}

.swiper-slide {
    max-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide h1 {
    position: absolute;
    left: 5%;
    margin: 0;
    font-size: 90px;
    color: white;
    text-align: left;
}

.swiper-slide img {
}

.down-arrow {
    position: absolute;
    bottom: 0;
    z-index: 3;
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-arrow h5, .down-arrow i {
    color: white;
    margin: 8px 0;
}

@media(min-width:768px) {
    .swiper-slide {
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    
    .swiper-slide h1 {
        font-size: 14vw;
    }
    
    .swiper-slide img {
        width: 100vw;
        height: auto;
    }
    
    .down-arrow {
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .down-arrow h5, .down-arrow i {
        color: #003674;
        margin: 10px 0 0 0;
    }
}

/*----------------------- Welcome ----------------------- */





/*----------------------- Quick menu ----------------------- */

.quick-menu {
    width: 100%; 
    padding: 0;
    background-color: red;
}

.quick-menu-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: #003674;
    
}

.quick-menu a {
    padding: 10%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, padding-left 0.3s;
}

.quick-menu-group > a.main {
    display: block;
    grid-column: span 3;
    background-color: #08164a;
}

.quick-menu a.main h5 {
    color: white;
    font-size: 25px;
}

.quick-menu a h4 {
    margin-bottom: 0;
}

.quick-menu a i {
    font-size: 10px;
}


.quick-menu-group > a.second {
    grid-column: span 2;
    background-color: #08164a;
    padding: 20% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.quick-menu a.second h5 {
    color: white;
    font-size: 16px;
}

@media(min-width:768px) {
    .quick-menu-group {
        width: 80%;
    }
    
    .quick-menu a:hover {
        background-color: red;
        padding-left: 21%;
    }
    
    .quick-menu a.main h5 {
        font-size: 55px;
        line-height: 1;
    }
    
    .quick-menu a.second h5 {
        font-size: 35px;
        line-height: 1;
    }
}


/*----------------------- Apply now ----------------------- */

.apply {
    width: 100%;
    background-image: url(../img/nik-macmillan-YXemfQiPR_E-unsplash.jpg);
    background-size: cover;
    align-items: center;
}

.apply a {
    width: 100%;
    background-color: white;
    padding: 50px;
}

.apply h1 {
    font-size: 95px;
}

@media(min-width:768px) {
    
    .apply {
        background-attachment: fixed;
        background-size: cover;
    }
    
    .apply a {
        width: auto;
        padding: 70px;
        align-items: center;
    }
    
    .apply a:hover {
        background-color: red;
    }
    
    .apply a:hover h1, .apply a:hover h3, .apply a:hover i{
        color: white;
    }
}

/*----------------------- Testimonials ----------------------- */

.testimonials {
    background-color: #08164a;
    display: none;
}

.swiper2 .slide-content {
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: .footer {
    width: 100%;
    height: 10vh;
    background-color: #08164a;
};
}

.customer {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
}

.swiper2 .slide-content p {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white
}

@media(min-width:768px) {
    
    .swiper2 {
        width: 700px;
        padding: 0;
    }
    
    .swiper2 .slide-content {
        height: ;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .customer {
        margin: 40px;
    }
    
    .swiper2 .slide-content p {
        width: 50%;
        font-size: 20px;
        text-align: left;
    }
}

/*----------------------- Contact ----------------------- */

.contact-info {
    width: 100%;
}

.contact-info h3 {
    font-size: 20px;
    margin: 10px 0;
}

.contact-info a {
    font-size: 30px;
    margin-right: 10px;
}

@media(min-width:768px) {
    .content.contact {
        flex-direction: row;
    }
    
    .content.contact h1 {
        width: 50%;
    }
    
    .contact-info {
        width: 50%;
    }
}


/*----------------------- Footer ----------------------- */

.footer {
    width: 100%;
    height: 10vh;
    background-color: #08164a;
    align-items: center;
}

@media(min-width:768px) {
    
    .footer {
        height: 25vh;
    }
}

/* ------------------------------------------------------------------ */
/* ------------------------- courses page --------------------------- */
/* ------------------------------------------------------------------ */

.courses-head {
    position: fixed;
    z-index: -1;
    top: 70px;
    background-color: #08164a;
}

.courses {
    width: 100%;
    background-color: white;
    margin-top: calc(16vw + 140px);
}
.course-set {
    position: relative;
    display: block;
}
.course-title {
    width: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.course-title:focus {
    outline: none;
}

.course-title i {
    color: #08164a;
    transition: transform 0.3s;
}

.course-list {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.course-set.open .course-list {
    height: 100%;
}

.course-set.open i{
    transform: rotate(180deg)
}

.course-list p {
    text-align: left;
}

@media(min-width:768px) {
    
    .course-title {
        width: 700px;
        border: none;
        padding: 20px 0;
        transition: padding 0.3s;
    }

    .course-title:hover {
        padding-left: 20px;
    }
    
    .course-title:hover h3 {
        color: red;
    }

}

/* ------------------------------------------------------------------ */
/* ------------------------- the form page -------------------------- */
/* ------------------------------------------------------------------ */

.form-page {
    background-color: #08164a;
    
}

form {
    width: 100%;
}

.field {
    margin-bottom: 40px;
}

label,input {
    display: block;
}

input {
  -webkit-appearance: none; 
  appearance: none;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 10px
}

input[type=text], input[type=email] {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
}

input[type=text]:focus, input[type=email]:focus {
    outline: none;
}

select {
    width: 70%;
    padding: 10px;
    border: 1px white solid;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

label.check {
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

input[type=checkbox] {
    width: 0px;
    margin: 0;
}

input[type=checkbox]:checked + .check {
  font-style: normal;
    background-color: #0077ff;
}

@media(min-width:768px) {
    
    .field {
        display: flex;
        width: 100%;
        padding: 20px;
        justify-content: space-between;
    }
    
    input[type=text], input[type=email] {
        width: 70%;
        font-size: 25px;
    }
    
    label {
        font-size: 25px;
        margin-bottom: 0;
    }
}



/* ------------------------------------------------------------------ */
/* ------------------------ about us page --------------------------- */
/* ------------------------------------------------------------------ */

.content.about {
    text-align: left;
}

.img-holder {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.img-holder img {
    width: 100%;
}

.about-page .img-holder {
    height: 50vh;
}


/* ------------------------------------------------------------------ */
/* ------------------------ the guide page -------------------------- */
/* ------------------------------------------------------------------ */

.content.guide-head {
        padding-bottom: 0;
    }

.content.guide {
    padding-top: 0;
    flex-direction: row;
    align-items: flex-start;
}

.side-menu {
    display: none;
} 

.guide-text {
    width: 100%;
}

.guide-text p {
    text-align: left;
}

@media(min-width:768px) {
    
    .content.guide-head {
        padding: 0;
        padding-left: 400px;
        align-items: flex-start;
    }
    
    .side-menu {
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 2;
        height: calc(100vh - 70px);
        width: 400px;
        padding: 0 2% 0 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }
    
    .side-menu a {
        margin: 5px;
    }
    
    .side-menu a:hover {
        color: red;
    }
    
    .content.guide {
        padding: 0;
        flex-direction: row;
        align-items: flex-start
    }
    
    .guide-text {
        padding-left: 400px;
    }
}

















