html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #08164a;
}

h1 {
    font-size: 13vw;
    font-weight: 900;
    line-height: 0.9;
    margin: 5px 0 20px 0;
}

h2 {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 700;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    text-align: left;
}

h4 {
    margin: 8px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1;
    color: white;
}

h5 {
    font-weight: 300;
    margin: 0;
    line-height: 1.1;
}

p {
    font-size: 20px;
    margin: 5px 0;
}

hr {
    border: none;
    border-bottom: 2px solid #ccd3dd;
    width: 100%;
    margin: 20px 0;
}

a {
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    -webkit-tap-highlight-color: transparent;
}

a:active {
    color: red;
}

i.fa-arrow-right {
    font-size: 75%;
    transform: rotate(-45deg)
}

.action {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #08164a;
    color: white;
    font-weight: 700;
}

.action i {
    font-size: 80%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.nav-space {
    width: 100%;
    height: 80px;
}

.content {
    width: 100%;
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.content.hero-text {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 80px;
    height: 20vh;
    background-color: #1751ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content.hero-text h5 {
    font-size: 40px;
    font-weight: 900;
    color: white;
    line-height: 1;
}

.hero-space {
    width: 100%;
    height: 20vh;
}

.back-img {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
}

.back-img img {
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pc-only {
    display: none;
}


@media(min-width:768px) {

    a:hover {
        color: #1751ff;
    }

    h1 {
        font-size: 80px;
        margin: 20px 0 40px 0;
    }

    h2 {
        font-size: 30px;
    }

    p {
        text-align: ;
        max-width: 900px;
    }
    
    hr {
        border-bottom: 2px solid #ccd3dd;
        margin: 15px 0;
    }

    .content {
        padding: 80px 10%;
        align-items: center;
        overflow: hidden;
    }

    .content.hero-text {
        height: 40vh;
    }

    .content.hero-text h5 {
        font-size: 80px;
        line-height: 0.9;
    }

    .hero-space {
        height: 40vh;
    }

    .text-body-wrap {
        max-width: 900px;
    }

    .action {
        padding: 5px 10px;
    }

    a.action:hover {
        padding: 5px 10px;
        background-color: #1751ff;
        color: white;
    }

    .pc-only {
        display: block;
    }
    
    .mobile {
        display: none;
    }
}


/* ------------------------ Navbar ------------------------*/

.nav-contact {
    position: fixed;
    z-index: 5;
    top: 0;
    height: 40px;
    width: 100vw;
    padding: 0 6%;
    background-color: #002153;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.nav-contact-info {
    display: flex;
}

.nav-contact p, .nav-contact a {
    color: white;
    font-size: 14px;
    margin-right: 24px;
}

.nav {
    position: fixed;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 6%;
}

.nav-logo {
    width: 80px;
    position: relative;
    z-index: 4;
}

#menu-btn {
    position: absolute;
    z-index: 4;
    cursor: pointer;
    position: relative;
    font-weight: 700;
}

#menu-btn i {
    font-size: 0px;
    transition: transform 0.3s, font-size 0.3s;
}

#menu-btn.open i {
    font-size: 12px;
    transform: rotate(180deg);
}

.menu {
    position: absolute;
    top: 80px;
    left: 0;
    height: 0px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: height 0.5s;
    background-color: #08164a;
}

.menu.open {
    height: calc(100vh - 80px);
}

.menu-expander {
    padding: 10%;
    height: 93%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu a,
.menu h5 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.4s, margin 0.6s;
    cursor: pointer;
}

.menu.open a,
.menu.open h5 {
    opacity: 1;
    margin-bottom: 22px;
}

.menu .sub-menu {
    margin-bottom: 25px;
    width: 100%;
}

.menu .sub-menu-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 0px;
    transition: height 0.3s;
}

.menu .sub-menu-drop.open {
    height: 120px;
}

.menu .sub-link {
    font-size: 25px;
    margin-bottom: 0px;
}

.menu.open .sub-link {
    margin-top: 6px;
    margin-bottom: 6px;
}

.menu .sub-menu-drop hr {
    margin-bottom: 6px;
}

.menu hr {
    border: 1px white solid;
    margin-bottom: 45px;
}

.menu hr {
    border: 1px white solid;
    margin-bottom: 45px;
}

.menu .action {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid white;
    transition: background-color 0.3s;
}


@media(min-width:768px) {
    
    .nav-contact {
        display: flex;
    }
    
    .nav {
        top: 40px;
    }

    #menu-btn {
        display: none;
    }

    .menu {
        position: relative;
        top: 0;
        width: auto;
        height: 100%;
        padding: 0;
        background-color: white;
        flex-direction: row;
        align-items: center;
        overflow: visible;
    }

    .menu hr {
        display: none;
    }

    .menu.open {
        height: 100%;
    }

    .menu-expander {
        height: 100%;
        width: 100%;
        padding: 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu .sub-menu {
        position: relative;
        margin-bottom: 0px;
        padding-left: 0;
    }

    .menu a {
        color: #08164a;
        opacity: 1;
        font-size: 16px;
        margin-left: 20px;
    }

    .sub-menu a {
        margin-left: 0px;
    }

    .menu a:hover {
        color: #1751ff;
    }

    .menu a:not(.action) i {
        display: none;
    }

    .menu .sub-menu-drop {
        position: absolute;
        top: 120%;
        height: 0px;
        justify-content: center;
        overflow: hidden;
        transition: height 0.3s;
        background-color: #f0f0f0;
    }

    .menu .sub-menu:hover .sub-menu-drop {
        height: 90px;
    }

    .menu .sub-link {
        font-size: 16px;
        margin: 6px 16px;
    }

    .menu .sub-menu-drop hr.pc-only {
        border-bottom: 2px solid #1751ff;
    }

    .menu .action {
        width: auto;
        padding: 5px 10px;
        border: 2px solid #08164a;
        background-color: transparent;
    }

    .menu .action:hover {
        border: 2px solid #1751ff;
        color: white;
    }


}

/*----------------------- Hero section ----------------------- */

.hero {
    position: relative;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.hero img {
    display: block;
    width: 100vw;
}

.down-arrow {
    position: absolute;
    bottom: 60px;
    z-index: 3;
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-arrow h5,
.down-arrow i {
    color: white;
    margin: 8px 0;
}

@media(min-width:768px) {

    .down-arrow {
        bottom: 0px;
        background-color: white;
    }

    .down-arrow h5,
    .down-arrow i {
        color: #003674;
        margin: 10px 0 0 0;
    }
}

/*----------------------- Welcome ----------------------- */
.welcome {
    width: 100%;
}

.welcome .news-swiper .swiper-slide {
    height: 20vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002153;
    background-size: cover;
    background-position: center;
}

.welcome .news-swiper .swiper-slide img {
    width: 100%;
}

.welcome .news-swiper .slide-01 {
    background-image: url(../img/visa-extended-landscape-2.jpg);
}

.welcome .news-swiper .slide-02 {
    background-image: url(../img/consultancy-landscape.jpg);
}

.welcome .news-swiper .slide-03 {
    background-image: url(../img/nursing-landscape.jpg);
}

.welcome .news-swiper .swiper-slide a {
    display: block;
    width: 100%;
    height: inherit;
}

.intro {
    text-align: center;
}

@media(min-width:768px) {

    .welcome .news-swiper .swiper-slide {
        height: 30vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*----------------------- Quick menu ----------------------- */

.quick-menu {
    width: 100%;
    padding: 0;
    background-color: red;
}

.quick-menu-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: #003674;

}

.quick-menu a {
    padding: 30px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, padding-left 0.3s;
}

.quick-menu-group>a.main {
    display: block;
    grid-column: span 3;
    background-color: #08164a;
}

.quick-menu a.main h2 {
    color: white;
    font-size: 25px;
}

.quick-menu a h4 {
    margin-bottom: 0;
}

.quick-menu a i {
    font-size: 10px;
}


.quick-menu-group>a.second {
    grid-column: span 2;
    background-color: #08164a;
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.quick-menu a.second h2 {
    color: white;
    font-size: 16px;
}

.quick-menu-group>a.second.third {
    grid-column: span 6;
    align-items: center;
}

@media(min-width:768px) {

    .quick-menu-group {
        width: 80%;
        max-width: 1300px;
    }

    .quick-menu a {
        padding-left: 20%;
    }

    .quick-menu-group>a.second {
        padding-left: 20%;
    }

    .quick-menu a:hover {
        background-color: red;
        padding-left: 25%;
    }

    .quick-menu a.main h2 {
        font-size: 55px;
        line-height: 1;
    }

    .quick-menu a.second h2 {
        font-size: 35px;
        line-height: 1;
    }
}


/*----------------------- Apply now ----------------------- */

.apply {
    width: 100%;
    background-color: transparent;
    align-items: center;
}

.apply a {
    width: 100%;
    background-color: white;
    padding: 50px;
}

.apply h1 {
    font-size: 95px;
}

.apply i {
    font-size: 30px;
}

@media(min-width:768px) {

    .apply {
        background-attachment: fixed;
        background-size: cover;
        transition: padding 0.3s;
    }

    .apply a {
        width: auto;
        padding: 60px;
        align-items: center;
    }

    .apply a:hover {
        background-color: #1751ff;
    }

    .apply a:hover h1,
    .apply a:hover h3,
    .apply a:hover i {
        color: white;
    }
    
    .apply a:hover hr {
        border-bottom: 1px solid white;
    }
}

/*----------------------- Testimonials ----------------------- */

.testimonials {
    background-color: #08164a;
    display: none;
}

.swiper2 .slide-content {
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: .footer {
        width: 100%;
        height: 10vh;
        background-color: #08164a;
    }

    ;
}

.customer {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
}

.swiper2 .slide-content p {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white
}

@media(min-width:768px) {

    .swiper2 {
        width: 700px;
        padding: 0;
    }

    .swiper2 .slide-content {
        height: ;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .customer {
        margin: 40px;
    }

    .swiper2 .slide-content p {
        width: 50%;
        font-size: 20px;
        text-align: left;
    }
}

/*----------------------- Contact ----------------------- */

.contact-info {
    width: 100%;
}

.contact-info h5 {
    width: inherit;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 12px 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info a {
    font-size: 30px;
    margin: 0 25px;
}



@media(min-width:768px) {
    .content.contact {
        flex-direction: row;
    }

    .content.contact h1 {
        width: 50%;
    }

    .contact-info {
        width: 50%;
    }

    .contact-info h5 {
        text-align: left;
        font-weight: 600;
        font-size: 18px;
    }
    
    .contact-links {
        justify-content: flex-end;
    }
    
    .contact-info a {
        margin: 0 0 0 25px;
    }


}


/*----------------------- Footer -----------------------*/

.footer {
    width: 100%;
    background-color: #08164a;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.footer a{
    color: white;
    font-size: 14px;
    margin: 8px 0;
    
}

.footer p{
    color: white;
    font-size: 12px;
}

.footer-content {
    display: flex;
    width: 100%;
}


.footer-content div {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content h5 {
    color: white
}

.footer-content a {
    display: block;
}

.footer-content div.v-line {
    display: none;
}

.footer-content div hr {
    margin: 4px 0;
}

@media(min-width:768px) {

    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
    }
    
    .footer-content {
        justify-content: flex-start;
        width: auto;
        height: 100%;
    }
    
    .footer-content div {
        margin: 0;
        padding: 0;
    }
    
    .footer-content div.v-line {
        display: block;
        margin: 0 50px;
        max-width: 2px;
        min-width: 2px;
        background-color: #00216f;
    }
}


/* ------------------------------------------------------------------ */
/* ---------------------- Accordion styling ------------------------- */
/* ------------------------------------------------------------------ */

.panel {
    position: relative;
    display: block;
}

.panel-btn {
    width: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-btn:focus {
    outline: none;
}

.panel-btn:active {
    color: red;
}

.panel-btn h3 {
    transition: font-size 0.3s, padding 0.3s;
}

.panel-btn i {
    color: #08164a;
    margin-left: 10px;
    transition: transform 0.3s;
}

.folding {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
}

.folding .content-wrap {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.panel.open .panel-btn h3 {
    font-size: 30px;
    padding: 20px 0;
}

.panel.open .panel-btn>i {
    transform: rotate(180deg);
}

.folding p {
    text-align: left;
    margin-bottom: 20px;
}

@media(min-width:768px) {
    .panel {
        width: 700px;
    }

    .panel-btn {
        border: none;
        padding: 20px 0;
        transition: padding 0.3s;
    }

    .panel-btn:hover {
        padding-left: 20px;
    }

    .panel-btn:hover h3,
    .panel-btn:hover i {
        color: #1751ff;
    }

}


/* ------------------------------------------------------------------ */
/* ------------------------- courses page --------------------------- */
/* ------------------------------------------------------------------ */

.courses-head {
    position: fixed;
    z-index: -1;
    top: 80px;
    height: 20vh;
    background-color: #1751ff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.courses-head h5 {
    font-size: 40px;
    font-weight: 900;
    color: white;
    line-height: 1;
}

.courses {
    margin-top: 20vh;
}

@media(min-width:768px) {

    .courses-head {
        height: 40vh;
        padding: 0;
    }

    .courses-head h5 {
        font-size: 80px;
    }

    .courses {
        margin-top: 40vh;
    }

}

/* ------------------------------------------------------------------ */
/* ------------------------- the form page -------------------------- */
/* ------------------------------------------------------------------ */

.form-content {
    background-color: #08164a;
    padding: 0;
}

.form-content .content {
    align-items: center;
    text-align: center;
}

.form-content h1 {}

.form-content h4 {
    color: #08164a;
}

form {
    width: 100%;
    max-width: 800px;
    padding: 40px 0;
}

.field {
    padding: 10px 40px;
}

label,
input {
    display: block;
}

input {
    -webkit-appearance: none;
    appearance: none;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: white;
    margin: 5px 0;
}

input[type=text],
input[type=email] {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
}

input[type=text]:focus,
input[type=email]:focus {
    outline: none;
}

.study-info {
    margin: 30px 0;
    padding: 12px 0;
    background-color: #083688;
}

.study-info .field {
    padding: 20px 40px;
}

.study-info label {
    margin-top: 0;
    margin-bottom: 10px;
}

.study-info hr {
    width: 80%;
    margin: 10px 40px 0px 40px;
    border: none;
    border-bottom: #081675 solid 2px;
}

/*select {
    width: 100%;
    padding: 10px;
    border: 1px white solid;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}

select option {
    color: #08164a;
}*/

.custom-select {
    position: relative;
    margin: 10px 40px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
}

.custom-select select {
    display: none;
} 

.custom-select .select-selected {
    padding: 20px;
}

.custom-select.open {
    background-color: dodgerblue;
}

.custom-opt-lst {
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: dodgerblue;
}

.custom-select.open .custom-opt-lst {
    display: block;
}

.custom-option {
    cursor: pointer;
    padding: 10px;
}

form.non-nurse .not4nurse {
    display: none;
}

.not4nurse {
    display: block;
}

.check-field {
    padding: 5px 40px;
    display: flex;
    align-items: center;
}

input[type=checkbox],
input[type=submit] {
    position: absolute;
    visibility: hidden;
    width: 0px;
    margin: 0;
}

input[type=file] {
    position: absolute;
    visibility: hidden;
    width: 0px;
    margin: 0;
}

label.check {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    transition: padding 0.3s, bakcground-color 0.3s;
    display: flex;
    justify-content: space-between;
}

.check-field i {
    color: white;
    font-size: 0px;
    transition: font-size 0.3s;
}

input[type=checkbox]:checked+.check {
    font-style: normal;
    background-color: #0077ff;
}

input[type=checkbox]:checked~.fa-check {
    font-size: 30px;
    margin-left: 20px;
}

.check.submit {
    text-align: center;
    justify-content: center;
    background-color: #083688;
}

@media(min-width:768px) {

    form {
        background-color: #081675;
    }

    .field {
        padding: 20px 80px;
        justify-content: space-between;
    }
    
    .custom-select {
        margin: 20px 80px;
    }
    
    .custom-select .select-selected:hover {
        background-color: #081696;
        padding-left: 40px;
    }
    
    .custom-select .custom-option:hover {
        background-color: #081696;
        padding-left: 40px;
    }

    input[type=text],
    input[type=email] {
        font-size: 25px;
    }

    label {
        font-size: 18px;
    }

    .study-info {
        padding: 35px 0;
    }

    .study-info .field {
        margin: 20px 80px;
        padding: 0;
    }

    .study-info hr {
        margin: 40px 80px;
    }

    .check-field {
        padding: 5px 80px;
    }

    label.check:hover {
        background-color: #081696;
        padding-left: 20px;
    }

    .check.submit:hover {
        padding-left: 10px;
        background-color: #0077ff;
        border: 1px solid #0077ff;
    }

    .check.submit:active {
        background-color: red;
    }
}



/* ------------------------------------------------------------------ */
/* ------------------------ about us page --------------------------- */
/* ------------------------------------------------------------------ */

.content.about {
    margin-top: 50vh;
    text-align: left;
}

.img-holder {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.img-holder img {
    width: 100%;
}

.about-page .img-holder {
    height: 50vh;
}

@media(min-width:768px) {
    .content.about {}
}


/* ------------------------------------------------------------------ */
/* ------------------------ the guide page -------------------------- */
/* ------------------------------------------------------------------ */



@media(min-width:768px) {}